{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "quote-props": [2, "consistent-as-needed"],
    "quotes": [2, "single"]
  }
}
